<h1> Create a Team and Heroes!</h1>
<br>
<form method='post' action='/teams'>
  <label for="Team_Name"> Team Name: </label>
  <input type="text" id="Team_Name" name="teams[name]">
  <label for="Team_Motto"> Team Motto: </label>
  <input type="text" id="Team_Motto" name="teams[motto]">
  <br>
  <h2> Hero Name </h2>
  <input type="submit" value="submit">
</form>
